/vendor
/.idea
/.vscode
/.env
/.phpunit.result.cache
/node_modules
/public/hot
/public/storage
/bootstrap/cache/*.php
!/bootstrap/cache/.gitkeep
/storage/*.key
/storage/logs/*.log
/storage/framework/cache/*
!/storage/framework/cache/.gitkeep
/storage/framework/sessions/*
!/storage/framework/sessions/.gitkeep
/storage/framework/views/*
!/storage/framework/views/.gitkeep
/database/database.sqlite
.DS_Store
